services:
  db:
    image: postgres:16
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_USER: postgres
      POSTGRES_DB: ideology
    ports:
      - "5432:5432"
    volumes:
      - ../data/db:/var/lib/postgresql/data

  api:
    build: .
    env_file: .env
    ports:
      - "8000:8000"
    depends_on:
      - db
    volumes:
      - ../data/uploads:/data/uploads
